@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to your Feed.</h1>

</div>
<a href="/Feed/Post">
    
    <button class="btn btn-primary">Post</button>

</a>